### How to import pandas and check the version?

In [5]:
import pandas as pd
print(pd.__version__ )

1.0.1

### How to create a series from a numpy array?

In [3]:
import pandas as pd 
import numpy as np 
a= np.array(['ahh', 'buhyj', 'cuhj', 'ddc', 'esad']) 
s = pd.Series(a) 
print(s)

0      ahh
1    buhyj
2     cuhj
3      ddc
4     esad
dtype: object

### How to convert the index of a series into a column of a dataframe?

In [9]:
df = pd.DataFrame({'No':[1,2,3,4,5],'Name':['neeha','rahul','sahithi','madhuri','pranav'],'colors':['red','blue','white','green','pink']}) 
df

   No     Name colors
0   1    neeha    red
1   2    rahul   blue
2   3  sahithi  white
3   4  madhuri  green
4   5   pranav   pink

### Write the code to list all the datasets available in seaborn library.
### Load the 'mpg' dataset
### Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
### materials folder)

In [9]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### Which country origin cars are a part of this dataset?

In [24]:
a=mpg['origin'].unique()
print(a)

['usa' 'japan' 'europe']